@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
}

.showcase{
    position: relative;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: white;
    z-index: 2;
}

.showcase header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px ;
    z-index: 1000;
    display: flex;
    /* color: black; */
    justify-content: space-between;
    
}
.navigation-itmes a{
    text-decoration: none;
    color: white;
    padding-right: 10px;
    /* text-transform: uppercase; */
    font-size: 20px;
    transition: 0.3s;
}
.navigation-itmes a:hover{
    letter-spacing: 3px;
    color: yellow;
}
.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
    opacity: .8;
    
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
    background: rgba(0, 0, 0, .1);

}

.text{
    position: relative;
    z-index: 10 ;
    /* color: black; */
}

.text h2{
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}
.text h3{
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700;
}

.text a {
    display: inline-block;
    font-size: 2em;
    background: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    color: #111;
    text-transform: uppercase;
    margin: 10px;
    letter-spacing:2px ;
    transition: 0.3s;
}
.text h2>span{
    color: red;
}

.text a:hover{
    letter-spacing: 6px;
    background-color: red;
    
}

.logo{
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1em;
    /* padding-right: 700px; */
    color: red;
    letter-spacing: 6px;
    
}
.logo:hover{
    color: red;
    letter-spacing: 6px;
}
.red{
    color: red;
}



.social ul{
    position: relative;
    bottom: 20px;
    z-index: 10;
    display: inline;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.social li {
    list-style: none;
    padding: right 10px; ;
}

.social li a{
    display: inline-block;
    /* filter: invert(1); */
    color: white;
    font-size: 2.5em;
    margin-right:20px ;
    transform: scale(1);
    transition: 0.4s;
    
}

.social li a :hover{
    transform: scale(1) translateY(-15px); 
    
}

.intro h1{
    text-align: center;
    margin-top: 20px;
    font-weight: bolder;
    margin-bottom: 30px;
}
.intro video{
    width: 100%;
}

.montage{
    width: 100vw;

}
.card-body a{
    transition: 0.3s;
    border: white;
    font-weight: bolder;
}

footer{
    background-color: white;
    color:#212529;}
    
    


footer .abt-social a{
    color: #212529;
    padding-left: 10px;
    transition: .5s;
}

footer h1{
    text-align: center;
    padding-top: 30px;
} 

footer .abt-social a:hover{
    color: blue;

} 
footer .abt-social .yt a:hover{
    color: red;
}
footer .abt-social .insta a:hover{
    color: #8a3ab9}
 .abt-social .insta a:hover{
    color: #8a3ab9}
    .abt-social .yt a:hover{
        color: red;}
.card-body a:hover{
    background-color: gray;
    /* transform: scale(1) translateY(-15px);  */
   color: black;
   letter-spacing: 4px;
}
.card-title{
    color: red;
}

.card-text{
    color: black;
}

.montage video{
    width: 100vw;
}

.intro-1 .thumbnail{
    z-index: 5;
    padding-right: 20px;
    flex-wrap: wrap;
}
.intro-1 h1{
    text-align: center;
} 

/* .btn .btn-dark{
    justify-content: center;
    align-items: center;
} */
/* .banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.banner .content{
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
} */
.about-header{
    position: relative;
    /* right: 0; */
    width: 100%;
    min-height: 60vh;
    /* padding: 100px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* background: #111; */
    color: black;
    z-index: 2;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 0px;

    
}
.abt-title{
    text-transform: uppercase;
    letter-spacing: 4px;
}
.abt-social{
    display: flex;
    justify-content: center;
    padding-right: 20px;
}
.abt-social a{
    padding: right 10px; 
    color: white;
    font-size: 2.5em;
}

.form-btn{
    background-color: black;
    color: white;
    transition: .5s ease;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 1.2em;
}
.form-btn:hover{
    letter-spacing: 6px;
    background-color:gray;
    color:black

}
#status{
    width:100vw;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
    margin-top: 10px;
}
#status.success{
    background-color:rgb(211, 250, 153);

}
#status.error{
    background-color:rgb(250, 129, 92);
    color: white;

}


@media (max-width: 991px) {
    .showcase,
    .showcase header {
        padding: 40px;
    }
    .text h2{
        font-size: 2em;
    }

    .text h3{
        font-size: 1em;
    }
    
.navbar-toggler-icon{
    width: 1em;
    height: 1em;
    padding-right: 10px;
}

.navbar-dark .navbar-toggler{
    background-color: #212529;
}
.navbar-dark .navbar-toggler{
    border-color:#212529 ;
}
.montage{
    justify-content: center;
    align-items: center;
}

.logo{
    text-align: center;
    padding-left: 1em;
}
.card img{
    width: 286px;
    height: 100px;
}
.card a{
    width: 270px;

}
.contact-form img{
    width: 100vw;
    padding-bottom: 20px;

}

  .contact-form form{
    width: 100vw;
     margin-left: 50px; 
}  

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.abt-p{
    font-size: .75em;
    
}

 }
